@import "./scss/mixin.scss";
@import "./scss/variables.scss";

* {
  @include font-md();
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e7f6;
  @include d-flex(center, center);
}
