@import "./scss/mixin.scss";
@import "./scss/variables.scss";

@font-face {
  font-family: "adineue";
  src: url(./assets/fonts/adineue-pro-regular.ttf);
}

* {
  font-family: "adineue" !important;
  padding: 0;
  margin: 0;
  letter-spacing: .5px;
  box-sizing: border-box;
}

body {
  background-color: #e8e7f6;
  @include d-flex(center, center);
}
