@import "../scss/mixin.scss";
@import "../scss/variables.scss";

.btn {
  @include btn-style;
  height: 40px;
  position: relative;
  border-radius: 20px;
  color: $primary-color-white;
  text-transform: uppercase;
  background-color: $orange-color;
  overflow: hidden;
  .icon {
    transition: all $transition-duration;
    height: 20px;
  }
  .text-layer {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    @include d-flex(center, center);
    gap: 2px;
    z-index: 20;
  }

  span {
    left: -140px;
    width: 100%;
    height: 100%;
    transition: all $transition-duration;
    position: absolute;
    top: 0;
    z-index: 10;
    border-radius: 20px;
    background-color: $purple-color;
  }
}
