@import "./variables.scss";
@import "./mixin.scss";

.cart {
  padding: 10px;
  width: 250px;
  height: 350px;
  background-color: #7417ed;
  border-radius: 20px;
  position: relative;
  @include d-flex(end, center);
  flex-direction: column;
  img {
    position: absolute;
    top: -70px;
    width: 200px;
  }

  .modern {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 40px;
    color: #fff;
    transform: rotate(-90deg);
    right: -105px;
    top: 40%;
  }

  .details {
    @include d-flex(center, start);
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 7px;
    color: $primary-color-white;
    letter-spacing: 1px;
    gap: 10px;
    .new-badge {
      background-color: $primary-color-white;
      color: $primary-color-black;
      width: 60px;
      height: 25px;
      font-size: 12px;
      border-radius: 10px;
      font-weight: 900;
      @include d-flex(center, center);
    }
    .price{
        font-weight: 400;
    }
  }
  
}