@import "./variables.scss";
@import "./mixin.scss";

.card {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 240px;
  height: 310px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  @include d-flex(end, center);
  flex-direction: column;
  .product-image {
    position: absolute;
    z-index: 10;
    top: -70px;
    object-fit: contain;
    width: 160px;
    height: 190px;
  }
  .modern-con {
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 80px;
    .modern {
      position: absolute;
      height: 100px;
      transform: rotate(-90deg);
      right: -230px;
      top: 40%;
    }
  }

  .details {
    @include d-flex(center, start);
    flex-direction: column;
    width: 100%;
    height: 70%;
    padding: 7px;
    color: $primary-color-black;
    letter-spacing: 1px;
    gap: 10px;

    .star-icon {
      font-size: 18px;
    }

    .empty-star {
      color: #d1d1d1;
    }
    .full-star {
      color: #ffc107;
    }
    .new-badge {
      background-color: $primary-color-black;
      color: $primary-color-white;
      width: 55px;
      height: 22px;
      font-size: 12px;
      border-radius: 10px;
      font-weight: 900;
      @include d-flex(center, center);
    }
    .price {
      font-size: 20px;
      font-weight: 800;
    }
  }
}
