@import "./variables.scss";
@import "./mixin.scss";

.cards-con {
  flex-wrap: wrap;
  @include d-flex(center, center);
  padding: 45px 0;
  margin-top: 30px;
}

@include responsive(360px) {
  .cards-con {
    gap: 100px;
  }
}

@include responsive(941px) {
  .cards-con {
    gap: 20px;
  }
}
