@import "../scss/mixin.scss";
@import "../scss/variables.scss";

.header-con{
    width: 100%;
    height: 965px;
    background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enUS/Images/orig-ss23-sstr-mh-large-d_tcm221-1051847.jpg);
}