// @font-face {
//   font-family: "poppins-md";
//   src: url(../assets/fonts/Poppins-Medium.ttf);
// }

@font-face {
  font-family: "poppins-bold";
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "adineue";
  src: url(../assets/fonts/adineue-pro-regular.ttf);
}

@mixin font-md {
  font-family: "adineue" !important;
}

@mixin font-bold {
  font-family: "poppins-bold";
}

@mixin d-flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin w-full {
  @include w-full();
}

@mixin h-full {
  @include h-full();
}

@mixin responsive($size) {
  @media (min-width: $size) {
    @content
  }
}
