@import "../scss/mixin.scss";
@import "../scss/variables.scss";

nav {
  width: 100%;
  height: 75px;
  .narrow-items-con {
    padding: 10px;
    width: 100%;
    .hamburger-menu-btn {
      z-index: 40;
      border: none;
      background-color: $gray-color;
      border-radius: 50%;
      .menu-icon {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        .menu-icon__cheeckbox {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          cursor: pointer;
          z-index: 2;
          -webkit-touch-callout: none;
          position: absolute;
          opacity: 0;
        }
        div {
          margin: auto;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 22px;
          height: 12px;
        }
        span {
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          background-color: $primary-color-white;
          border-radius: 1px;
          transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

          &:first-of-type {
            top: 0;
          }
          &:last-of-type {
            bottom: 0;
          }
        }
        &.active,
        .menu-icon__cheeckbox:checked + div {
          span {
            &:first-of-type {
              transform: rotate(45deg);
              top: 5px;
            }
            &:last-of-type {
              transform: rotate(-45deg);
              bottom: 5px;
            }
          }
        }

        &.active:hover span:first-of-type,
        &.active:hover span:last-of-type,
        &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
        &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
          width: 22px;
        }

        &:hover {
          @media (min-width: 1024px) {
            span:first-of-type {
              width: 26px;
            }

            span:last-of-type {
              width: 12px;
            }
          }
        }
      }
    }
  }
  .wide-items-con {
    width: 100%;
    margin-top: 15px;
    gap: 35px;
    .menu-items {
      border-radius: 30px;
      background-color: $primary-color-white;
      height: 50px;
      list-style: none;
      width: 450px;
      @include d-flex(space-evenly, center);
      li {
        cursor: pointer;
        height: 100%;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        padding: 5px;
        position: relative;
        @include d-flex(center, center);
        height: 20px;
        overflow: hidden;
        &:hover div {
          transform: translateY(-35px);
        }
        div {
          transition: all $transition-duration;
          padding: 5px;
          height: 60px;
          @include d-flex(center, center);
          flex-direction: column;
          span {
            position: absolute;
            bottom: -14px;
          }
        }
      }
    }

  }
}

.hamburger-menu {
  z-index: 30;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  position: fixed;
  background-color: $purple-color;
  transition: all $transition-duration;
  overflow: hidden;
  flex-direction: column;
  @include d-flex(center, start);
  .title {
    gap: 15px;
    flex-direction: column;
    letter-spacing: 4px;
    color: $primary-color-white;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    @include d-flex(center, center);
    p {
      text-transform: capitalize;
      color: $gray-color;
      font-size: 14px;
    }
  }
  ul {
    padding: 20px;
    @include d-flex(space-evenly, start);
    flex-direction: column;
    width: 100%;
    height: 400px;
    list-style: none;
    li {
      position: relative;
      color: $primary-color-white;
      font-weight: 900;
      gap: 5px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 25px;
      @include d-flex(center, center);
      .li-num {
        right: -25px;
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        color: $gray-color;
      }
      .li-line {
        width: 30px;
        transition: all 0.3s;
        height: 3px;
        background-color: $primary-color-white;
      }
    }
  }
}


.hidden {
  width: 100vw;
  transition: all $transition-duration;
  height: 0;
}

@include responsive(360px) {
  .wide-items-con {
    display: none;
  }
  .narrow-items-con {
    @include d-flex(space-between, center);
  }
}

@include responsive(640px) {
  .wide-items-con {
    @include d-flex(center, center);
  }
  .narrow-items-con {
    display: none;
  }
}