$primary-color-black: #000;
$primary-color-gray: #caccd9;
$primary-color-lightGray: #f1f4f5;
$purple-color: #4c26c9;
$orange-color: #fa533c;
$lightBlue-color: #e8e7f6;
$lightPink-color: #fbe9e5;
$blue-color: #1976D2;
